.Rhistory
.Rapp.history
.RData
.Ruserdata

.Rproj.user/

*_cache/
.cache/
*_files/

*.tar.gz
*.tgz
*.Rcheck/

*.log
*.Rout
*.Rout.save
*.Rout.fail

*.tmp
*.temp
*.swp
*.swo
*.pdf

.venv/
venv/
env/
__pycache__/

data/
results/seurat_objects/*.rds

.DS_Store
Thumbs.db